@keyframes wiggle {
    0%,
    100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

.animateWiggle {
    animation: wiggle 200ms ease-in-out;
}

.button {
    background-color: rgb(0, 68, 255);
    border-radius: 0.5em;
    border: none;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: ease-out 0.5s;
}
